.App {
  height: 100%;
}

.Nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  padding: 2rem;
  color: #313639;
  border-right: 1px solid #aabbc3;
}

.Nav-children {
  margin-top: -5rem;
  flex-grow: 1;
}

.Nav-title {
   position: absolute;
   top: 2rem;
}

.Dash {
  display: flex;
  height: 100%;
}

.Nav ul {
  /* display: flex; */
  list-style: none;
  padding-top: 2rem;
}

.Nav li {
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}

.Nav li.active {
  font-weight: bold;
  border-bottom: 1px solid #313639;
}

.Card-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Card-container-inner {
  position: relative;
  width: 80%;
}

.Card-container-title {
  text-align: center;
  padding-bottom: 1rem;
}


.Card {
  cursor: pointer;
  min-height: 30%;
  width: 100%;
  color: #313639;
  background: #fff;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

/*
  TODO: should probably compute the height of the card and then decide the height to show
  based on both the front and the back elements
*/
.Card-front {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.Card-front.visible {
  visibility: visible;
}

.Card-back {
  visibility: hidden;
}

.Card-back.visible {
  visibility: visible;
}


.Card-front, .Card-back {
  padding: 2rem;
}

.Card-number {
  position: absolute;
  font-size: .8rem;
  top: .5rem;
  right: 1rem;
  background: #ddd;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.Card-cycle-button {
  position: fixed;
  top: 3rem;
  right: 3rem;
}

.Card-cycle-button span {
  font-size: 1rem;
}

.Card-button {
  border: none;
  outline: none;
  padding: .5rem;
  font-size: 2rem;
  cursor: pointer;
}

.Card-button-back {
  position: absolute;
  left: 0;
  top: 0;
}

.Card-button-advance {
  position: absolute;
  right: 0;
  top: 0;
}

.Card-actions-app {
  position: relative;
  top: -4rem;
}