* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    height: 100%;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .App {
    height: 100%;
  }
  
  :root {
    --off-white: #d3d3d3;
    --off-dark: #313639;
  }

  .App.dark-mode {
    background: #1d1f21;
  }

fieldset {
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}