.App.dark-mode .Dash {
  background: #1d1f21;
}

.Dash {
  display: flex;
  height: 100%;
  @media(max-width: 768px) {
    height: auto;
  }

  &-Nav-desktop {
    position: absolute;
    padding: 1rem;
    width: 100%;
    @media(max-width: 768px) {
      display: none;
    }
  }

  &-Nav-mobile {
    display: none;
    z-index: 999;
    white-space: nowrap;
    background: #1d1f21;
    justify-content: space-between;
    align-items: center;
    color: var(--off-white);
    padding: 1rem .5rem 1rem 1rem;
    @media screen and (max-width: 768px) {
      display: flex;
    }

    .Settings-toggle {
      color: #fff;
    }

    &-left {
      display: flex;
      width: 80%;
      overflow-x: auto;
    }

    &-link {
      margin-right: 1rem;
      cursor: pointer;
      &.active {
        border-bottom: 1px solid #fff;
      }
    }
  }

  @media(max-width: 768px) {
    &-Nav-container {
      display: none;
    }
  }

  &-Card-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  &-Card-container-inner {
    position: relative;
    width: 80%;
    @media(max-width: 768px) {
      width: 95%;
      padding-top: 2rem;
    }
  }
}