.Dash {
  display: flex;
  height: 100%;
  @media(max-width: 768px) {
    height: auto;
  }
}

.App.dark-mode .Dash {
  background: #1d1f21;
}

  .Dash-Nav-desktop {
    position: absolute;
    padding: 1rem;
    width: 100%;
    @media(max-width: 768px) {
      display: none;
    }
  }
  
  @media(max-width: 768px) {
    .Dash-Nav-container {
      display: none;
    }
  }

  .Dash-Nav-mobile {
    display: none;
    z-index: 999;
    white-space: nowrap;
    background: #1d1f21;
    justify-content: space-between;
    align-items: center;
    color: var(--off-white);
    padding: 1rem .5rem 1rem 1rem;
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }

  .Dash-Nav-mobile .Dash-Nav-mobile-left {
    display: flex;
    width: 80%;
    overflow-x: auto;
  }

  .Dash-Nav-mobile .Dash-Nav-mobile-link {
    margin-right: 1rem;
    cursor: pointer;
    &.active {
      border-bottom: 1px solid #fff;
    }
  }

  .App .Dash-Nav-mobile .Settings-toggle {
    color: #fff;
  }

  .Dash-Nav-settings {
    width: 100%;
  }

  .Dash-Nav-mobile-link {
    
  }