@import 'base.scss';
@import 'nav.scss';
@import 'toggler.scss';
@import 'card.scss';
@import 'select.scss';
@import 'dash.scss';
@import 'settings.scss';
@import 'deck-builder.scss';
@import 'decks.scss';

.App.light-mode {
  color: var(--off-dark);
}

.App.dark-mode {
  color: var(--off-white);
}

// added this due to ant library override...
// TODO: should have a better solution for this...

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
